/* Header Styles */
.header {
  display: flex; /* Makes header a flex container for horizontal layout */
  justify-content: space-between; /* Spreads content evenly */
  align-items: center; /* Vertically centers content */
  padding: 1rem 0; /* Adds top and bottom padding */
  background-color: #333; /* Sets background color to dark gray */
  color: #fff; /* Sets text color to white */
  width: 100%;
}

.container {
  display: flex; /* Makes container a flex container for responsive layout */
  justify-content: flex-start; /* Spreads content within container evenly */
  width: 100%; /* Ensures container fills available space */
  max-width: 1200px; /* Sets a maximum width for responsiveness */
  margin: 0 auto; /* Centers container horizontally */
}

.header-logo {
  flex: 0 0 auto; /* Makes logo section non-growing */
}

.navbar-menu {
  display: flex; /* Makes navigation a flex container */
  list-style: none; /* Removes default bullet points */
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
  flex: 1; /* Makes navigation take up available space */
  justify-content: space-around; /* Spreads navigation items evenly */
}

.nav-link {
  padding: 0.5rem 1rem; /* Adds padding to navigation links */
  color: inherit; /* Inherits header text color */
  text-decoration: solid; /* Removes underline from links */
  font-weight: bold; /* Makes navigation text bold */
  transition: color 0.3s ease; /* Smooth color transition on hover */
}

.nav-link:hover {
  color: #5443ea; /* Changes link color on hover */
}

.filters {
  display: flex; /* Makes filters section a flex container */
  align-items: center; /* Vertically centers search button */
  flex: 0 0 auto; /* Makes filters section non-growing */
}

.search-button {
  background-color: transparent; /* Makes button transparent */
  border: none; /* Removes default border */
  color: inherit; /* Inherits header text color */
  cursor: pointer; /* Sets cursor to pointer on hover */
  transition: color 0.3s ease; /* Smooth color transition on hover */
  padding: 0.5rem 1rem; /* Adds padding to button */
}

.search-button:hover {
  color: #ddd; /* Changes button color on hover */
}

/* Footer Styles */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333;
  color: #fff;
  padding: 2rem 0;
  width: 100%;
}

.footer-wrapper {
  display: flex; /* Makes footer content section a flex container */
  justify-content: space-between; /* Spreads content evenly */
}

.footer-section {
  flex: 1; /* Makes footer sections equally sized */
  text-align: center; /* Centers content within footer sections */
}

.footer-section p {
  margin: 0; /* Removes default margin from paragraphs */
}